Flask==2.3.2
Flask-SQLAlchemy==3.0.5
PyJWT==2.6.0
requests
psycopg2-binary
flask-restful
marshmallow_sqlalchemy
flask_jwt_extended
celery
redis
coverage==7.6.1
Faker==26.0.0
moviepy==1.0.3
imageio
imageio[opencv]
imageio[pyav]
Pillow==9.5.0
